<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602785777707-qt2aehh69lec7d94p01gucebq29qs6ib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602785777707-qt2aehh69lec7d94p01gucebq29qs6ib</string>
	<key>API_KEY</key>
	<string>AIzaSyCBl9AnLz6sihe1nQv0i1v1DL1fO6GLhaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>602785777707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.libraryApp</string>
	<key>PROJECT_ID</key>
	<string>library-47048</string>
	<key>STORAGE_BUCKET</key>
	<string>library-47048.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602785777707:ios:fb71418c20bfd57663426e</string>
</dict>
</plist>